<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/title-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>Enter some location details to get the weather like "Orlando", "90210", or "Disney, California"</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
                <button type="button" onclick=location.reload()>Clear results</button>
            </form>
            <p class="error-text" id="error-text"></p>
            <table id="weatherTable">
                <tr>
                    <th>Location</th>
                    <th>Summary</th>
                    <th>Temperature</th>
                    <th>Feels Like</th>
                    <th>Chance of Rain</th>
                    <th>Wind Speed</th>
                </tr>
            </table>

        </div>
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
</html>