<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/title-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p class="error-text">{{errorData}}</p>
        </div>
        {{>footer}}
    </body>
</html>